<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EspacioInfinitoDotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EspacioInfinitoDotNet.Properties.Settings>
            <setting name="Resolucion" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="ProfundidadBits" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="PantallaCompleta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VelocidadRotacionInicial" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="VelocidadRotacionFinal" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="TiempoAceleracionRotacion" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="FormaDeControl" serializeAs="String">
                <value>Realista</value>
            </setting>
            <setting name="GeneradorAUsar" serializeAs="String">
                <value />
            </setting>
            <setting name="DibujarLineasMapa" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RadioSectoresCercanosADibujarEnMapa" serializeAs="String">
                <value>7</value>
            </setting>
        </EspacioInfinitoDotNet.Properties.Settings>
    </userSettings>
</configuration>